.layout {
  display: grid;
  grid-template-columns: 200px auto;
  position: relative;
}
.isloading{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.808);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  border-right: 1px solid #dee2e6 !important;
}
.sidebar h1 {
  font-size: 28px;
  color: #fff;
  margin: 0 !important;
  height: 60px;
  line-height: 60px;
}
.header {
  height: 60px;
}
.sidebar ul{
  padding: 0;
  width: 100%;
}
.sidebar ul li{
  margin-top: 20px;
  list-style: none;
}
.sidebar ul li button{
  width: 150px;
}
.cardOnDashboard h1{
  font-size: 30px;
  margin: 0;
}
.stock-value{
  text-align: center;
  margin-top: 30px;
}
.stock-value .stocks h3,.stock-value .value h3{
  font-size: 20px;
}
.stock-value .stocks h4,.stock-value .value h4{
  font-size: 20px;
  width: 150px;
  background: #fff;
  margin: 0 auto;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  padding: 5px 0;
}
.search-input{
  height: 70px;
}
.icons-edit-delete{
  font-size: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}